.inputWrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 0px;
    font-size: 14px;
    cursor: help;
  }
}